/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_89d2697fb13e0f05accdcee093413629.eot");
  src: url("fontcustom_89d2697fb13e0f05accdcee093413629.eot@") format("embedded-opentype"),
       url("fontcustom_89d2697fb13e0f05accdcee093413629.woff.html") format("woff"),
       url("fontcustom_89d2697fb13e0f05accdcee093413629.ttf.html") format("truetype"),
       url("fontcustom_89d2697fb13e0f05accdcee093413629.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("fontcustom_89d2697fb13e0f05accdcee093413629.svg") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-bulleted-list:before,
.icon-calc:before,
.icon-calendar:before,
.icon-calendar-square:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-circle-x:before,
.icon-coffee:before,
.icon-content:before,
.icon-cotm:before,
.icon-envelope:before,
.icon-list:before,
.icon-section-1:before,
.icon-section-1A:before,
.icon-section-1B:before,
.icon-section-2:before,
.icon-section-2A:before,
.icon-section-2B:before,
.icon-section-3:before,
.icon-section-3A:before,
.icon-section-3B:before,
.icon-section-4:before,
.icon-section-4A:before,
.icon-section-4B:before,
.icon-section-5:before,
.icon-section-5A:before,
.icon-section-5B:before,
.icon-section-6:before,
.icon-section-7:before,
.icon-section-8:before,
.icon-sections:before,
.icon-small-groups:before,
.icon-x:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f100"; }
.icon-bulleted-list:before { content: "\f101"; }
.icon-calc:before { content: "\f102"; }
.icon-calendar:before { content: "\f103"; }
.icon-calendar-square:before { content: "\f123"; }
.icon-chevron-down:before { content: "\f104"; }
.icon-chevron-left:before { content: "\f105"; }
.icon-chevron-right:before { content: "\f106"; }
.icon-chevron-up:before { content: "\f107"; }
.icon-circle-x:before { content: "\f108"; }
.icon-coffee:before { content: "\f109"; }
.icon-content:before { content: "\f10a"; }
.icon-cotm:before { content: "\f10b"; }
.icon-envelope:before { content: "\f10c"; }
.icon-list:before { content: "\f10d"; }
.icon-section-1:before { content: "\f10e"; }
.icon-section-1A:before { content: "\f10f"; }
.icon-section-1B:before { content: "\f110"; }
.icon-section-2:before { content: "\f111"; }
.icon-section-2A:before { content: "\f112"; }
.icon-section-2B:before { content: "\f113"; }
.icon-section-3:before { content: "\f114"; }
.icon-section-3A:before { content: "\f115"; }
.icon-section-3B:before { content: "\f116"; }
.icon-section-4:before { content: "\f117"; }
.icon-section-4A:before { content: "\f118"; }
.icon-section-4B:before { content: "\f119"; }
.icon-section-5:before { content: "\f11a"; }
.icon-section-5A:before { content: "\f11b"; }
.icon-section-5B:before { content: "\f11c"; }
.icon-section-6:before { content: "\f11d"; }
.icon-section-7:before { content: "\f11e"; }
.icon-section-8:before { content: "\f11f"; }
.icon-sections:before { content: "\f120"; }
.icon-small-groups:before { content: "\f121"; }
.icon-x:before { content: "\f122"; }
